<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/register.css' %}">
      <link rel="stylesheet" href="{% static 'css/header.css' %}">
      <title>Вход</title>
  </head>
  <body>
    {% include 'header.html' %}
    <script src="{% static 'js/redirect.js' %}"></script>
    <section class="container" style="animation: 1s show ease;">
      <div class="login-container">
          <div class="circle circle-one"></div>
          <div class="form-container">
              <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
              <h1 class="opacity">ВХОД</h1>
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <input name="login" type="text" placeholder="ЛОГИН" />
                  <input name="password" type="password" placeholder="ПАРОЛЬ" />
                  <button class="opacity" id="button" >Войти</button>
              </form>
              <div class="register-forget opacity">
                  <a href="/register">Регистрация</a>
              </div>
          </div>
          <div class="circle circle-two"></div>
      </div>
      <div class="theme-btn-container"></div>
    </section>
  </body>
</html>