<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/register.css' %}">
      <link rel="stylesheet" href="{% static 'css/header.css' %}">
      <title>Редактировать данные</title>
  </head>
  <body>
    <script src="{% static 'js/redirect.js' %}"></script>
    <a class="btn-black" href="/profile"><img src="/static/images/left-arrow.png">Назад</a>
    <section class="container" style="animation: 1s show ease;">
      <div class="login-container">
          <div class="circle circle-one"></div>
          <div class="form-container">
              <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
              <h1 class="opacity" style="font-size: 1.5rem;">Редактировать данные</h1>
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <input name="login" type="text" placeholder="ЛОГИН" /> -->
                <input type="text" placeholder="{{user.first_name}}" name="first_name">
                <input type="text" placeholder="{{user.last_name}}" name="last_name">
                <input type="email" placeholder="{{user.email}}" name="email">
                <input type="password" name="old_password" placeholder="СТАРЫЙ ПАРОЛЬ" />
                <input type="password" name="new_password" placeholder="НОВЫЙ ПАРОЛЬ" class="pssword"> 
                <button class="opacity" id="button">Изменить</button>
              </form>
          </div>
          <div class="circle circle-two"></div>
      </div>
      <div class="theme-btn-container"></div>
    </section>
  </body>
</html>