<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
    </head>
    <body>
        <script src="{% static 'js/redirect.js' %}"></script>
        <form class="form-reg" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input">
              <div class="text">
                <label>Логин</label>
              </div>
              <input type="text" placeholder="Логин" name="login">
            </div>

            <div class="input">
                <div class="text">
                  <label>Имя</label>
                </div>
                <input type="text" placeholder="Имя" name="first_name">
            </div>

            <div class="input">
                <div class="text">
                  <label>Фамилия</label>
                </div>
                <input type="text" placeholder="Фамилия" name="last_name">
            </div>

            <div class="input">
                <div class="text">
                  <label>Email</label>
                </div>
                <input type="email" placeholder="Email" name="email">
            </div>

            <div class="input">
              <div class="text">
                <label>Пароль</label>
              </div>
              <input type="password" name="password" placeholder="Пароль" class="psswrd"> 
            </div>
          
            <div class="checkPassword">
                <input style="width: 2rem;" type="checkbox" id="shwpsswrd"><p class="text-Korean">Посмотреть пароль</p>
            </div>
          
            <button style="height: 10%;">
              Регистрация
            </button>
            <a href="/login">Войти</a>
        </form>
        <script src="{% static 'js/password.js' %}"></script>
    </body>
</html>